node_modules/
/dist/
/docs/.vitepress/cache
/docs/.vitepress/dist

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/e2e/screenshots/*.png